@import "../../styles/variables.scss";

.chat-input {
    background-color: $chatBack;
    display: flex;
    padding: 10px 20px;

    &__container {
        background-color: $chatContainer;
        display: flex;
        justify-content: space-between;
        padding: 5px 12px 1px;
        flex: 1;
        border-radius: 7.5px;
        margin-right: 20px;
        position: relative;
    }

    &__input {
        background-color: transparent;
        width: 100%;
        max-height: 7.35em;
        min-height: 1.47em;
        padding: 5px 0;
        margin: 0;
        overflow-y: auto;
        border: none;
        overflow-wrap: anywhere;
        font-size: 15px;
        font-weight: 400;
        white-space: pre-wrap;
        
        &:focus {
            border: none;
            outline: none;
        }
    }

    &__submit {
        background-color: transparent;
        background-image: url("../../images/send-message.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 24px;
        width: 24px;
        border: none;
        outline: none;
        align-self: center;
        cursor: pointer;
    }

    &__placeholder {
        color: #8696a0;
        position: absolute;
        pointer-events: none;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);

        &_hidden {
            visibility: hidden;
        }
    }
}
