@import "../../../styles/variables.scss";

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.header-item {
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;

    &:first-of-type {
        margin: 0;
    }
    &:active {
        background-color: $colorActiveButton;
    }
    &__button {
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 8px;


        &_active {
            animation-name: rotate;
            animation-timing-function: linear;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }
    }
}
