$header-color: #202c33;
$chatBack: #202c33;
$chatContainer: #2a3942;
$initBackColor: #222e35;
$initBackColor: #222e35;
$initBorderBottomColor: #008069;
$textColor: #e9edef;
$mainBackColor: #131b20;
$fontFamily: Arial, "Times New Roman", Helvetica, sans-serif;
$lineColor: rgba(134, 150, 160, 0.5);
$colorActiveButton: rgba(
    $color: #fff,
    $alpha: 0.2,
);

$colorWhite: #fff;