$fontFamily: Arial, "Times New Roman", Helvetica, sans-serif;
$textColor: #e9edef;

.app {
  margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131b20;
  display: flex;
  color: $textColor;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  &__container {
    display: flex;
    max-width: 1600px;
    margin: 19px auto;
    flex: 1;
  }

  &__chatlist {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(134,150,160,0.5);
  }

  &__conversation {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
