$fontFamily: Arial, "Times New Roman", Helvetica, sans-serif;
$textColor: #e9edef;

.app {
  margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131b20;
  display: flex;
  height: 100%;
  max-height: 100vh;
  max-height: 100dvh;
  color: $textColor;

  &__container {
    display: flex;
    max-width: 1600px;
    margin: 19px auto;
    flex: 1;
  }

  &__chatlist {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
  }
}
